@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    display: grid;
    background: #f5f5f5;
    min-height: 100vh;
}

.phlame-logo {
    width: 1000px;
    height: 500px;
}
.nav-text-now {
    display: flex;
    margin-left: 45%;
    margin-top: 0.2%;
    margin-right: 1%;
    color: #f5f5f5;
}

#login-main-container {
    place-items: center center;
}

#sign-in-form {
    max-width: 330px;
}

.form-control:focus {
    z-index: 5;
}